
body {
  margin: 0;
}

#target, #source {
  background: whitesmoke;
}

#source {

  width: 50%;
  left: 200px;
  margin: 0 auto;
  padding: 1em;

  [data-neatline-slug] {

    &.highlight {
      background: yellow;
    }

  }

  svg {
    position: absolute;
    z-index: -999;
  }

}

#target {

  width: 100px;
  left: 50px;
  position: fixed;
  top: 0;

  .segment.pages {

    fill: darken(white, 5%);
    z-index: 1;

    &.highlight {
      fill: yellow;
    }

  }

  .span.slugs {

    fill: darken(white, 40%);
    z-index: 2;

    &.highlight {
      fill: yellow;
    }

  }

  .occluder {

    fill: black;
    pointer-events: none;
    opacity: 0.2

  }

}
